<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- OQ-2: real Dropbox AuthActivity (com.dropbox.core.android.AuthActivity, scheme db-<appKey>)
         returns here once dropbox-android-sdk and a real app key are supplied. Removed until then to
         avoid the MissingClass crash when a browser opens a db- deep link. -->
    <application />
</manifest>
